*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    fomt-family: arial, sans-serif;
    }
    body {
        backgroud: #0f172a;
        color: #e5e7eb;
        }
        .hero {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            tex-align: center;
            }
            
            .hero h1 {
                font-size: 3rem;
                color: #38bdf8;
                }
                
                .btn {
                    margin-top: 20px;
                    padding: 10px 20px;
                    background: #38bdf8;
                    color: #000;
                    text-decoration: none;
                    border-radius: 6px;
                    }
                    
                    #projects {
                        padding: 50px;
                        }
                        
                        .card {
                            background: #1e293b;
                            padding: 20px
                            border-radius: 10px;
                            }